* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
}

/* PÁGINA INICIAL */
.home {
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.overlay {
    text-align: center;
    margin-bottom: 60px;
}

.subtitulo {
    color: #ccc;
    margin-bottom: 20px;
}

.botao {
    background-color: #e63946;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 6px;
}

/* PÁGINA CATEGORIAS */
.categorias {
    background-color: #000;
    color: #fff;
    padding: 40px;
}

.categorias h1 {
    text-align: center;
    margin-bottom: 30px;
}

.lista {
    list-style: none;
    max-width: 400px;
    margin: auto;
}

.lista li {
    background: #111;
    margin-bottom: 15px;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}
