.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin: 30px 0;
}

.card, .produto {
  background: #111;
  padding: 25px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
}

.card:hover {
  background: #ff2d2d;
}

.produto button {
  margin-top: 10px;
  padding: 8px 15px;
  background: #ff2d2d;
  border: none;
  color: #fff;
  border-radius: 6px;
}

.voltar {
  background: #333;
  margin-right: 10px;
}
